name: Update TryHackMe Badge

on:
  schedule:
    - cron: "0 0 * * *" # Run daily at midnight
  workflow_dispatch: # Allow manual trigger

jobs:
  update-badge:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Explicitly grant write permissions
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Update Badge
        run: python .github/scripts/update_badge.py

      - name: Commit and push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add assets/tryhackme-badge.png
          git commit -m "Update TryHackMe badge" || exit 0
          git push
